{%- assign project = site.data.projects[page.project] -%}
{%- assign translations = project.translations[page.lang] -%}

<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3 class="footer-heading">{{ translations.legal | escape }}</h3>
        {% assign privacy_page = site.pages | where: 'lang', page.lang | where: 'ref', 'privacy' | first %}
        <a href="{{ privacy_page.url | relative_url }}">{{ translations.privacy | escape }}</a>
      </div>

      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">{{ translations.contacts | escape }}</h3>
        <a href="mailto:{{ project.email }}">{{ project.email }}</a>
      </div>

      <div class="footer-col footer-col-3">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
      </div>
    </div>

  </div>

</footer>
