{%- assign project = site.data.projects[page.project] -%}

<header class="site-header" role="banner">

  <div class="wrapper">

    {% assign home_page = site.pages | where: 'lang', page.lang | where: 'ref', 'index' | first %}
    <a class="site-title" href="{{ home_page.url | relative_url }}">
      {{ project.logo | default: project.name | escape }}
    </a>

    <ul class="language-selector">
      {% assign pages = site.pages | where: 'ref', page.ref %}
      {% for translated_page in pages %}
        {% if page.lang == translated_page.lang %}
        <li>{{ translated_page.lang | upcase }}</li>
        {% else %}
        <li><a href="{{ translated_page.url | relative_url }}">{{ translated_page.lang | upcase }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</header>
