{%- assign translations = site.data.projects[page.project].translations[page.lang] -%}

<section class="home">

  <article class="home-col home-col-1">
    <div class="home-description">
      <h1>{{ translations.description }}</h1>
      <p>{{ translations.details }}</p>
      <a href="{{ translations.appstore_link }}">
        <img src="/assets/{{ page.project }}/images/appstore_{{ page.lang }}.svg" class="appstore svg" />
      </a>
    </div>
  </article>

  <article class="home-col home-col-2">
      <img src="/assets/{{ page.project }}/images/preview_{{ page.lang }}@1x.png" class="preview" />
      <img src="/assets/{{ page.project }}/images/preview_{{ page.lang }}@2x.png" class="preview retina" />
  </article>

</section>
